*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

html{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    background-color: lavender;
    padding: 0 20px;
}
.content{
    width: 75%;
    float: left;
}
.form{
    width: 25%;
    float: left;
}
h1, h2{
    color:  purple;
}
h1{
    font-size: 80px;
    margin-bottom: 15px;
}
h2{
    font-size: 40px;
    margin-bottom: 15px;
}